[defaults]
inventory       = inventory.ini
remote_user     = azureadmin
private_key_file = ../terraform/generated/ssh_key.pem
host_key_checking = False
retry_files_enabled = False
roles_path      = roles
result_format = yaml
allow_world_readable_tmpfiles = True
timeout         = 30

[ssh_connection]
retries = 3
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ConnectionAttempts=3

[privilege_escalation]
become        = True
become_method = sudo
become_ask_pass = False
